html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

resume {
    text-align: left;
    font-size: 18px;
}

body {
    background: lightslategray;
    display: table-cell;
    font-family: "Trebuchet MS", Helvetica, sans-serif;	
    font-size: 32px;
    border: solid orange;
    border-width: thick;
    padding: 2%;
    max-width: 1500px;
    min-width: 1500px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

